################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BookStore-API
/.idea
/BookStore-API/bin
/BookStore-API/obj
/BookStore-API.sln.DotSettings.user
/BookStore-UI/bin/
/BookStore-UI/obj
/BookStore-UI/wwwroot/uploads/*
